<footer>
    <div class="footermenu"><nav>
        <ul>
            <li class="menu"><a href="/about">About</a></li>
            <li class="menu"><a href="/contact">Contact</a></li>
            <!-- <li class="menu"><a href="#">Countries</a></li>
            <li class="menu"><a href="#">Copyright info</a></li> -->
        </ul>
    </nav></div>
</footer>
</div>
</body>
</html>