<%- include('./partials/header.ejs')%>
    <div class="common">
        <h1>About</h1>
        <p class="p1">This platform was established to help people like us who are interested in trading the most famous and interesting things of our fantasy worlds.</p>
    </div>

<%- include('./partials/footer.ejs')%>