<%- include('./partials/header.ejs')%>
    <div class="common">
        <h2><%= error.status%> Error</h2>
        <p class="p1"><%= error.message%></p>
    </div>

<%- include('./partials/footer.ejs')%>