<%- include('./partials/header.ejs')%>
            <main>
                <div>
                    <p id="intro1">Our merch is a conversation kickstarter wherever you go</p>
                    <p id="intro2">Trade all types of merchandise representing your favorite fantasy worlds.</p>
                    <form action="/trades">
                        <div id="btn"><button class="button" type="submit">Trade Now</button></div>
                    </form>
                </div>
            </main>
            <%- include('./partials/footer.ejs')%>
            